*:focus {outline:none !important;
}
// body{
// 	cursor:url("lightSaber2.png"), auto;
// }

body{
	font-family: 'Fjalla One', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.8);
	background-color: rgba(249, 220, 113, 1);
}
.contact:visited , .git:visited{
    color: black;
		text-decoration: none !important;
}
.contact:hover , .git:hover{
	text-decoration: none;
}

p, h2{
	font-size: 2em;
}
h2{
	color:inherit;
}
.section{
	text-align:center;
}

#menu li {
  padding-top:4px;
	display:inline-block;
	color: #000;
	-webkit-border-radius: 10px;
  border-radius: 10px;
	font-family: 'Fjalla One', sans-serif;
  text-shadow: -1px 0 purple, 0 2px purple, 2px 0 purple, 0 -1px purple;
}

#menu li.active {
	color: #fff;
}

#menu li a{
	text-decoration:none;
	color: white;
  font-size: 2.5rem;
}
#menu li.active a:hover{
	color:#923ea8;
}

#menu li a:hover{
	color:#923ea8;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: rgba(225, 126, 81, 1);
}
#menu{
	text-align: right;
  padding-left: 0;
  background: rgba(169, 87, 183,0.5);
	position:fixed;
	height: 70px;
	z-index: 10;
	width: 100%;
}


#section0{

  color: white;
 }
.blur{
	width:100%;
	height:140%;
	margin-top: -20%;
	background-color: rgba(248, 155, 89, 1);
	background: url("../images/lazoom3.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
	background-position: 30% 40%;
	z-index: -1;
	// -webkit-filter: blur(1px) grayscale(30%); /* Chrome, Safari, Opera */
	// filter: blur(1px) grayscale(30%);
}

.name{
  font-size:13rem;
  letter-spacing: 10px;
  position: relative;
  z-index: 0;
  margin-top: -30%;
  text-align: center;
  text-shadow: -1px 0 black, 0 6px black, 6px 0 black, 0 -1px black;
	-webkit-animation: drop 700ms ease-out;
}
@-webkit-keyframes drop{
0% {    -webkit-transform:translateY(-500%); }

100% {    -webkit-transform:translateY(0%); }
}
h1{
    font-size:11rem;
    // letter-spacing: 10px;
    position: relative;
    z-index: 0;
    // margin-left: 10%;
    margin-top: 5%;
    text-align: center;
}
h3{
  font-size: 5rem;
  position: relative;
  z-index: 0;
  letter-spacing: 4px;
  text-shadow: -1px 0 black, 0 6px black, 6px 0 black, 0 -1px black;
  text-align: center;
  font-family: 'Lobster', cursive;
	-webkit-animation: left 1500ms ease-out;
}
@-webkit-keyframes left{
0% {    -webkit-transform:translateX(-500%); }
100% {    -webkit-transform:translateX(0%); }
}
#section1{
  background-color: rgba(249, 220, 113, 1);
  display:inline-block;
}
.face{
  position: relative;
  z-index: 0;
  -webkit-filter: sepia(10%); /* Chrome, Safari, Opera */
  filter: sepia(10%);
  width: 482px;
  border-radius: 366px;
  margin-top: -35%;
  margin-left: -20%;
  border:	rgba(225, 126, 81, 1) solid 4px;
}
#section2{
	background-color: rgba(210, 126, 81, .7);
}
#section3{
  background-color: rgba(183, 165, 238, 1);
}
.am , .am2{
  display:inline-block;
  margin:0 auto;
}
.am{
  width:20%;
  display:inline-block;
  margin-left: 5%;
}
.amTwo{
  width:65%;
  display:inline-block;
  margin-left: 7%;
	margin-top: 5%;
}
.amThree{
  width:65%;
  display:inline-block;
  margin-left: 5%;
	margin-top: -45%;
}
.hey{
	margin-top: 0%;
  font-family: 'Lobster', cursive;
  font-size:9rem;
  margin-left: 4%;
	text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
}
.hey2{
  font-family: 'Lobster', cursive;
  font-size:6rem;
	margin-top: -172px;
  margin-left: 36%;
	text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
	position: relative;
	z-index: 1;
}
.hey , .heyP , .heyP2{
  position: relative;
  z-index: 1;
}
.heyP{
	padding-bottom: 0%;
	margin-bottom: 0%;
  margin-left:12%;
  // margin-top: 5%;
  width:85%;
		  text-shadow: -.5px 0 grey, 0 0px grey, 0px 0 grey, 0 -.5px grey;
			// -webkit-animation: heyGrow 3500ms ease-out;
}
.heyP2{
	width:60%;
  margin-left:38%;
	text-shadow: -.5px 0 grey, 0 0px grey, 0px 0 grey, 0 -.5px grey;
	font-size: 2.1rem;
}

#section3 h2 , a{
  text-decoration:none;
  color:black;
}
#section3 a:hover{
  color: purple;
}
#section2 a:hover{
	color: purple;
}

#section3 h1{
  color:black;
    text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
}
.git{
	width:50px;
	font-size: 2rem;
	font-family: 'Lobster', cursive;
}

.portBig{
	font-size: 15rem;
	letter-spacing: 10px;
	margin-top: -2%;
}
.port{
	font-size: 7rem;
	font-family: 'Lobster', cursive;
}


.words{
	position: relative;
	z-index: 1;
	margin-top: 10%;
	// color:white;
	width:50%;
	// margin-left: 40%;
	padding-left: 10%;
}
.tiny{
	font-size: 2rem;
}
.gitBig{
	width:450px;
	height:450px;
	margin-top: -30%;
	border-radius: 250px;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate(10deg);
	margin-left: 50%;
	border:7px double white;
	margin-right: 5%;
}

.left{
  margin-top: 5%;
  width:30%;
  display:inline-block;

}
.right{
  margin-top: 5%;
  width:50%;
  display: inline-block;
	text-align: center;
}
.right h2{
		margin-right: 5%;
		margin-top: 4%;
}

.right h2:nth-child(3), .right h2:nth-child(4) , .right h2:nth-child(5){
	display:inline-block;
}
.right img{
	width:4.5rem;
	height:4.5rem;
	margin-top: -8%;
}
.circleLand{
  display: inline-block;
  width:100%;
  margin-top: 5%;
}

.circle:first-child , .circle:nth-child(2), .circle:nth-child(3), .circle:nth-child(4), .circle:nth-child(5){
  margin-right: 10%;
}
.circle {
  display: inline-block;
  width:10rem;
  height:10rem;
  background-color:rgba(225, 126, 81, 1);
  border:#923ea8 4px solid;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  }


.circle:hover {
  background: purple;
  border-radius: 12px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color:white;
  box-shadow: none;
}


@media (min-width: 914px) and (max-width: 1250px)  {
	.name{
		  margin-top: -50%;
	}

	.face{
		width:350px;
		height:350px;
		margin-left:-25%;
	}
	.hey{
		font-size: 7rem;
	}
	.heyP{
		font-size: 2rem;
	}
	.hey2{
		margin-top: -9%;
	}
	.gitBig{
		width:400px;
		height:400px;
		margin-top: -40%;
		border-radius: 250px;
	}
	.words h1{
		font-size: 7rem;
	}
	.circleLand{
		width:100%;
	}
	.circle{
		width:7rem;
		height:7rem;
	}
}

@media (min-width: 667px) and (max-width: 914px)  {
	#menu{
		display: none;
	}
	.name{
			margin-top: -60%;
	}
	#section0 h1 {
		font-size: 9rem;
	}
	#section0 h3{
		font-size: 5rem;
	}

	#section1 section{
		display:block;
		text-align: center;
		margin:5%;
		width:100%;
	}
	.face{
		margin:0 auto;
		text-align: center;
		width:20rem;
		height:20rem;
		border-radius: 50rem;
		margin-left: -7%;
	}
	#section1 h1 , #section p{
		margin:0 auto;
		width:100%;
		text-align: center;
	}
	#section1 h1{
		font-size: 4rem;
	}

	.hey2{
		padding-left: 4%;
	}
	.heyP , .heyP2{
		font-size: 1.8rem;
		margin-left: 2%;
		width:97%;
	}
	.heyP{
	 padding-right:8%;
	 margin-left: 0%;
	}
	.tiny{
		display: none;
	}
	.gitBig{
		display: none;
	}
	.words{
		width:80%;
		margin-left: 5%;
	}
	.words h1{
		font-size: 7rem;
	}
	.left , .right{
		width:90%;
	}
	.circleLand{
		width:100%;
	}
	.circle{
		width:5rem;
		height:5rem;
	}
}
@media (min-width: 10px) and (max-width: 667px)  {
	#menu{
		display: none;
	}
	.name{
			margin-top: -80%;
	}
	#section0 h1 {
		font-size: 7rem;
	}
	#section0 h3{
		font-size: 5rem;
		margin-bottom: 50%;
	}

	#section1 section{
		display:block;
		text-align: center;
		margin:5%;
		width:100%;
	}
	.face{
		margin:0 auto;
		text-align: center;
		width:20rem;
		height:20rem;
		border-radius: 50rem;
		margin-left: -7%;
	}
	#section1 h1 , #section p{
		margin:0 auto;
		width:100%;
		text-align: center;
	}
	#section1 h1{
		font-size: 4rem;
	}

	.hey2{
		padding-left: 4%;
		// margin-left: 10%;
	}
	.heyP , .heyP2{
		margin-left: 2%;
		width:97%;
	}
	.heyP2{
		font-size: 1.3rem;
	}
	.heyP{
	 font-size: 1.8rem;
	 padding-right:8%;
	 margin-left: 0%;
	}
	.tiny{
		display: none;
	}
	.gitBig{
		display: none;
	}
	.words{
		width:80%;
		margin-left: 5%;
	}
	.words h1{
		font-size: 7rem;
	}
	.left , .right{
		width:100%;
	}
	.left h1{
		font-size: 7rem;
	}
	.circleLand{
		width:100%;
	}
	.circle{
		margin:5%;
	}
	.circle:first-child{
		margin-left: 10%;
	}
	.circle{
		width:5rem;
		height:5rem;
	}
}

// for mobile....iphone 6
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2) {
	 #menu{
		 display: none;
	 }
	 #section0 h3{
		 width:100%;
		 font-size: 12rem;
	 }
	 #section0 h1{
		 width:100%;
		 font-size: 25rem;
	 }
	 .tiny{
		 display:none;
	 }
	 .name {
		 margin-top:-153%;
	 }
	 #section1 section{
		 display:block;
		 text-align: center;
		 margin:5%;
		 width:100%;
	 }
	 .face{
		 margin:0 auto;
		 text-align: center;
		 width:70rem;
		 height:70rem;
		 border-radius: 50rem;
		 margin-left: -7%;
	 }
	 #section1 h1 , #section p{
		 margin:0 auto;
		 width:100%;
		 text-align: center;
	 }
	 #section1 h1{
		 font-size: 8rem;
	 }

	 .heyP , .heyP2{
		 font-size: 4rem;
		 margin-left: 0%;
		 width:100%;
	 }
	.heyP{
		padding-right:7%;
	}
	.hey2{
		margin-left: 11%;
	}
	.words , .gitBig{
		display:block;
		text-align: center;
	}
	.words{
		width:90%;
		margin-left: 2%;
		margin-top: 0%;
	}
	.git{
		width:9rem;
		height:9rem;
	}
	.words h1{
		font-size: 15rem;
	}
	.words p{
		font-size: 6rem;
	}
	.git{
		width:30rem;
		height:30rem;
		font-size: 3rem;
	}
	.gitBig{
		display: none;
	}
	.left , .right{
		display:block;
		text-align: center;
		width:100%;
	}
	.left h1{
		font-size: 16rem;
	}
	.right h2{
		font-size: 8rem;
	}
	.right{
		margin-left:5%;
	}
	.right img{
		width:9rem;
		height:9rem;
		margin-top:-3%;
	}
	.circleLand{
		width:100%;
	}
	.circle{
		margin:5%;
	}
	.circle:first-child{
		margin-left: 10%;
	}
 }

 // mobile iphone 6 landscape
 @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

		#menu{
 		 display: none;
 	 }
 	 #section0 h3{
 		 width:100%;
 		 font-size: 12rem;
 	 }
 	 #section0 h1{
 		 width:100%;
 		 font-size: 25rem;
 	 }
 	 .tiny{
 		 display:none;
 	 }
 	 .name {
 		 margin-top:-153%;
 	 }
 	 #section1 section{
 		 display:block;
 		 text-align: center;
 		 margin:5%;
 		 width:100%;
 	 }
 	 .face{
 		 margin:0 auto;
 		 text-align: center;
 		 width:70rem;
 		 height:70rem;
 		 border-radius: 50rem;
 		 margin-left: -7%;
 	 }
 	 #section1 h1 , #section p{
 		 margin:0 auto;
 		 width:100%;
 		 text-align: center;
 	 }
 	 #section1 h1{
 		 font-size: 8rem;
 	 }

 	 .heyP , .heyP2{
 		 font-size: 4rem;
 		 margin-left: 0%;
 		 width:100%;
 	 }
 	.heyP{
 		padding-right:7%;
 	}
 	.hey2{
 		margin-left: 11%;
 	}
 	.words , .gitBig{
 		display:block;
 		text-align: center;
 	}
 	.words{
 		width:90%;
 		margin-left: 2%;
 		margin-top: 0%;
 	}
 	.git{
 		width:9rem;
 		height:9rem;
 	}
 	.words h1{
 		font-size: 15rem;
 	}
 	.words p{
 		font-size: 6rem;
 	}
 	.git{
 		width:30rem;
 		height:30rem;
 		font-size: 3rem;
 	}
 	.gitBig{
 		display: none;
 	}
 	.left , .right{
 		display:block;
 		text-align: center;
 		width:100%;
 	}
 	.left h1{
 		font-size: 16rem;
 	}
 	.right h2{
 		font-size: 8rem;
 	}
 	.right{
 		margin-left:5%;
 	}
 	.right img{
 		width:9rem;
 		height:9rem;
 		margin-top:-3%;
 	}
 	.circleLand{
 		width:100%;
 	}
 	.circle{
 		margin:5%;
 	}
 	.circle:first-child{
 		margin-left: 10%;
 	}

}

// mobile iphone 5 portrait
 @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 526px)
  and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait){

		#menu{
			display: none;
		}
		#section0 h3{
			width:100%;
			font-size: 12rem;
		}
		#section0 h1{
			width:100%;
			font-size: 25rem;
		}
		.tiny{
			display:none;
		}
		.name {
			margin-top:-153%;
		}
		#section1 section{
			display:block;
			text-align: center;
			margin:5%;
			width:100%;
		}
		.face{
			margin:0 auto;
			text-align: center;
			width:50rem;
			height:50rem;
			border-radius: 50rem;
			margin-left: -7%;
		}
		#section1 h1 , #section p{
			margin:0 auto;
			width:100%;
			text-align: center;
		}
		#section1 h1{
			font-size: 8rem;
		}
		.hey2{
			padding-left: 4%;
		}
		.heyP , .heyP2{
			font-size: 4rem;
			margin-left: 2%;
			width:97%;
		}
	 .heyP{
		 padding-right:8%;
		 margin-left: 0%;
	 }

	 .words , .gitBig{
		 display:block;
		 text-align: center;
	 }
	 .words{
		 width:90%;
		 margin-left: 2%;
		 margin-top: 0%;
	 }
	 .git{
		 width:9rem;
		 height:9rem;
		 font-size: 3rem;
	 }
	 .words h1{
		 font-size: 15rem;
	 }
	 .words p{
		 font-size: 6rem;
	 }
		.git{
			width:30rem;
			height:30rem;
		}
		.gitBig{
			display: none;
		}

	 .left , .right{
		 display:block;
		 text-align: center;
		 width:100%;
	 }
	 .left h1{
		 font-size: 16rem;
	 }
	 .right{
		 margin-left:5%;
	 }
	 .right h2{
		 font-size: 8rem;
	 }
	 .right img{
		 width:9rem;
		 height:9rem;
		 margin-top:-3%;
	 }
	 .circleLand{
		 width:100%;
	 }
	 .circle{
		 margin:5%;
	 }
	 .circle:first-child{
		 margin-left: 10%;
	 }
}
// iphone 5 landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

				#menu{
					display: none;
				}
				#section0 h3{
					width:100%;
					font-size: 8rem;
				}
				#section0 h1{
					width:100%;
					font-size: 10rem;
				}
				.tiny{
					display:none;
				}
				.name {
					margin-top:-41%;
				}
				#section1 section{
					display:block;
					text-align: center;
					margin:5%;
					width:100%;
				}
				.face{
					display: none;
					// margin:0 auto;
					// text-align: center;
					// width:50rem;
					// height:50rem;
					// border-radius: 50rem;
					// margin-left: -7%;
				}
		#section1 h1 , #section p{
			margin:0 auto;
			width:100%;
			text-align: center;
		}
		#section1 h1{
			font-size: 6rem;
		}
		.amTwo{
			margin-bottom: -5%;
		}
		.hey2{
			padding-left: 4%;
		}
		.hey{
			margin-top: -5%;
		}
		.heyP , .heyP2{
			font-size: 2.6rem;
			margin-left: 2%;
			width:97%;
		}
	 .heyP{
		 padding-right:8%;
		 margin-left: 0%;
	 }
	 #section1 p{
		 margin-bottom: -5%;
	 }

	 .words , .gitBig{
		 display:block;
		 text-align: center;
	 }
	 .words{
		 width:90%;
		 margin-left: 2%;
		 margin-top: 0%;
	 }
	 .git{
		 width:9rem;
		 height:9rem;
		 font-size: 3rem;
	 }
	 .words h1{
		 font-size: 7rem;
	 }
	 .words p{
		 font-size: 3rem;
	 }
		.git{
			width:15rem;
			height:15rem;
		}
		.gitBig{
			display: none;
		}

		.left{
		  margin-top: 5%;
		  width:30%;
		  display:inline-block;

		}
		.right{
		  margin-top: 5%;
		  width:50%;
		  display: inline-block;
			text-align: center;
		}
		.right h2{
				margin-right: 5%;
				margin-top: 4%;
		}

		.right h2:nth-child(3), .right h2:nth-child(4) , .right h2:nth-child(5){
			display:inline-block;
		}
		.right img{
			width:4.5rem;
			height:4.5rem;
			margin-top: -8%;
		}
		.circleLand{
		  display: inline-block;
		  width:100%;
		  margin-top: 5%;
			margin-bottom: 5%;
		}
}
